In [1]:
import pandas as pd
import sqlalchemy

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")
Base = automap_base() # create base class for automap schema
Base.prepare(engine, reflect=True) # reflect creates separate classes for each table (decouples dependancies)

# save references of each table
Measurement = Base.classes.measurement 
Station = Base.classes.station

session = Session(engine)

In [3]:
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [4]:
columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c["type"])
    
print('...................')   

columns = inspector.get_columns('station')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT
...................
id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [5]:
# Query SQL light database
results = session.query(Measurement.date, Measurement.tobs, Measurement.prcp, Measurement.station).all()
Stat_dataframe = pd.DataFrame(results, columns = ['Date','Temp','Precip','Station']) # Add to DataFrame
Stat_dataframe = Stat_dataframe.set_index('Date') # Set its index to datetime
Stat_dataframe['Date'] = pd.to_datetime(Stat_dataframe.index) # Convert strings to datetime objects

## Summary Statistics for June

In [6]:
June_dataframe = Stat_dataframe[Stat_dataframe['Date'].dt.month == 6] # filter based on dates in June
June_dataframe.drop(columns=['Date','Precip']).describe()

              Temp
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

### Station USC00519397 June Stats

In [7]:
June_dataframe.loc[(June_dataframe['Station'] == 'USC00519397')].describe()

             Temp      Precip
count  236.000000  233.000000
mean    77.559322    0.022661
std      1.819714    0.089427
min     70.000000    0.000000
25%     77.000000    0.000000
50%     78.000000    0.000000
75%     79.000000    0.010000
max     84.000000    0.890000

## Summary Statistics for December

In [8]:
December_dataframe = Stat_dataframe[Stat_dataframe['Date'].dt.month == 12] 
December_dataframe.drop(columns=['Date','Precip']).describe()

              Temp
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

### Station USC00519397 December Stats

In [9]:
December_dataframe.loc[(December_dataframe['Station'] == 'USC00519397')].describe()

             Temp      Precip
count  210.000000  207.000000
mean    71.109524    0.075314
std      3.554417    0.242803
min     56.000000    0.000000
25%     69.000000    0.000000
50%     72.000000    0.000000
75%     74.000000    0.035000
max     77.000000    2.010000