In [1]:
import time
import re
import pandas as pd
import numpy as np
import sqlalchemy

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")
Base = automap_base() # create base class for automap schema
Base.prepare(engine, reflect=True) # reflect creates separate classes for each table (decouples dependancies)

# save references of each table
Measurement = Base.classes.measurement 
Station = Base.classes.station

session = Session(engine)

## Summary Statistics for June

In [3]:
# Filters the Measurement table and retrieve temperatures for the month of June. 

results = session.query(Measurement.date, Measurement.tobs).all() # add measurement dates to list using all()

june_list = [] # create new list to store dates in june
for i in range(len(results)):
    june_list.append(results[i][0])  
    
old_june_df, new_june_df = pd.DataFrame(results, columns=['date','Temp']).groupby( # create dataframes
                                                        'date').mean(), pd.DataFrame(june_list, columns=['date'])

new_june_df['date_filter'] = new_june_df['date'] # add column to filter
new_june_df['date_filter'] = new_june_df['date_filter'].str.extract(r'(-06-)', flags=re.IGNORECASE) # regex replace
merged_june_df = pd.merge(new_june_df.dropna(), old_june_df,  how="left", on="date") # create new dataframe
merged_june_df = merged_june_df.drop(columns=['date_filter']) # drop extraneous columns

merged_june_df.describe()

              Temp
count  1700.000000
mean     74.944118
std       1.772544
min      69.500000
25%      73.857143
50%      75.000000
75%      76.031250
max      79.000000

## Summary Statistics for December

In [4]:
# Measurement table to retrieve the temperatures for the month of December.

results = session.query(Measurement.date, Measurement.tobs).all()

december_list = []
for i in range(len(results)):
    december_list.append(results[i][0])  
    
old_december_df, new_december_df = pd.DataFrame(results, columns=['date','Temp']).groupby(
                                                        'date').mean(), pd.DataFrame(december_list, columns=['date'])

new_december_df['date_filter'] = new_december_df['date'] 
new_december_df['date_filter'] = new_december_df['date_filter'].str.extract(r'(-12-)', flags=re.IGNORECASE)
merged_december_df = pd.merge(new_december_df.dropna(), old_december_df,  how="left", on="date") 
merged_december_df = merged_december_df.drop(columns=['date_filter'])

merged_december_df.describe()

              Temp
count  1517.000000
mean     71.041529
std       2.475577
min      60.666667
25%      69.714286
50%      71.285714
75%      72.714286
max      76.500000